.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
*, ::after, ::before{
  text-align: center;
  box-sizing: border-box; 
}
th, td {
  padding: 10px;
}


.diplayblock{
  display: flex;
  
}